<% if notice %>
  <div id="notice" data-close-flash-target="flash" class="flex w-full justify-between items-center mt-4 py-2 px-3 bg-green-50 text-green-500 font-medium rounded-lg">
    <%= notice %>
    <button type="button" data-close-flash-target="button" data-action="click->close-flash#close" class="py-1 px-4 rounded-2xl bg-green-200 hover:bg-green-300 focus:outline-none focus:ring focus:ring-green-400" aria-label="Close">
      <i class="fa fa-close"></i>
    </button>
  </div>
<% end %>
<% if alert %>
  <div id="alert" data-close-flash-target="flash" class="flex w-full justify-between items-center mt-4 py-2 px-2 bg-red-50 text-red-500 font-medium rounded-lg">
    <%= alert %>
    <button type="button" data-close-flash-target="button" data-action="click->close-flash#close" class="ml-2 py-1 px-4 rounded-2xl bg-red-200 hover:bg-red-300 focus:outline-none focus:ring focus:ring-red-400" aria-label="Close">
      <i class="fa fa-close"></i>
    </button>
  </div>
<% end %>
