<div class="p-4 w-full flex justify-between content-center bg-secondary text-white">
  <p class="ml-2 text-lg">Welcome <%= current_user.email %></p>
  <div class="mr-2 cursor-pointer text-2xl">
    <i class="fa fa-lightbulb-o"></i>
    <i class="fa fa-sign-out"></i>
  </div>
</div>
