<div class="p-4 w-full flex justify-between content-center bg-purple-600">
  <p class="ml-2 text-lg">Welcome <%= current_user.email %></p>
  <div class="mr-2 cursor-pointer text-2xl">
    <i class="fa fa-cog"></i>
  </div>
</div>
