<!--data-show-form-target="form" class="hidden w-full"-->
<%= form_with(model: habit, class: "w-full") do |f| %>
  <div class="flex justify-center">
    <%#= form.label :name, "New habit:", class: "flex items-center whitespace-nowrap" %>
    <%= f.text_field :name, class: "w-full ml-2 block shadow rounded-md border border-gray-200 outline-none" %>
    <%= f.submit 'Add', class: "ml-2 rounded-2xl py-2 px-5 bg-purple-600 text-white inline-block font-medium cursor-pointer shadow-md shadow-purple-400" %>
  </div>
  <% if habit.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <ul>
        <% habit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
