<div>
  <label for="sort">Sort by:</label>
  <select name="sort" id="sort">
    <option value="date-created">Date created</option>
    <option value="streak">Streak length</option>
    <option value="record">Record length</option>
    <option value="last-done">Last done</option>
  </select>
</div>
<div>
  <% habits.each do |habit| %>
    <%= render "habits/habit", habit: habit %>
  <% end %>
</div>
