<div class="w-full">
  <%= render "shared/flashes" %>
  <div class="p-2 flex justify-between items-center">
    <h1 class="font-bold text-4xl">Habits</h1>
    <div>
      <label for="sort">Sort by:</label>
      <select name="sort" id="sort">
        <option value="custom">Custom order</option>
        <option value="streak">Streak length</option>
        <option value="record">Record length</option>
        <option value="last-done">Last done</option>
      </select>
    </div>
  </div>
  <div data-controller="show-form" class="mt-5">
    <button
      class="rounded-2xl py-3 px-5 bg-purple-600 text-white block font-medium"
      data-action="click->show-form#fire">
      New Habit
    </button>
    <div data-show-form-target="form" class="hidden">
      <%= render "form", habit: @habit %>
    </div>
  </div>
  <% sorted_habits = @habits.sort_by { |habit| habit.created_at } %>
  <% sorted_habits.reverse! %>
  <% sorted_habits.each do |habit| %>
    <%= render "habit", habit: habit %>
  <% end %>
</div>
